[Unit]
Description=DiscordBot

[Service]
ExecStart=C:\Users\Jules\OneDrive\Documents\NodeJS\DiscordBot\app.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=C:\Users\Jules\OneDrive\Documents\NodeJS\DiscordBot

[Install]
WantedBy=multi-user.target